body {
    background-image: url("https://i.pinimg.com/originals/5a/6b/59/5a6b59a2543647a049e1f7dc2ec0a21d.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-style: italic;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
     color: #c0c0c0;
    color: #FFFF00;
}
h1 {
     
    font-size: 3em;
    font-style: italic;
    color: #ffffff;
}
p {
    font-style: italic;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ffffff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    color: #ffffff;
}

ul.posts li {
    list-style: none;
}
